body {
    margin: 0;
    padding: 0;
    font-family: "Archivo";
}

.contact-section {
    padding: 40px 0;
}

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    font-family: "Archivo";
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 2px solid black;
    background: #fff;
    padding: 20px;
    outline: none;
    font-size: 16px;
    color: #000;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

#contact-container {
    text-align: center;
    padding: 20px;
}

.contact-form-btn {
    font-family: "Archivo";
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 30px 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #2980b9;
}

@media only screen and (max-width: 1024px) {
    .contact-form-btn {
        width: 100%;
    }
}