#enquiry-container {
    text-align: center;
    padding: 20px;
}

.contact-form-btn {
    font-family: "Archivo";
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}