@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

body {
    font-family: "Archivo";
    margin: 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand {
    position: relative;
    text-align: center;
}

#profile {
    float: right;
}

#main-menu {
    display: inline-block;
    top: 5px;
}

#left-side {
    flex-grow: 1;
    white-space: nowrap;
    width: 50%;
}

#left-nav {
    display: inline-block;
}

#left {
    display: flex;
    flex-wrap: wrap;
}

#left li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#left li a {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#center {
    position: relative;
    flex-shrink: 0;
}

#right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    white-space: nowrap;
}

#right a {
    padding: 20px 40px;
}

#background-img {
    height: 400px;
    max-height: 400px;
    background-image: url('assets/background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background-img h1 {
    color: white;
}

#step-container {
    text-align: center;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

#steps {
    padding: 25px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
}

.step-logo {
    width: 60px;
    height: 60px;
}

.step-words {
    display: flex;
    flex-direction: column;
}

#courses-container {
    text-align: center;
    padding: 30px;
    background-color: #A3A3A3;
}

#courses-container h2 {
    padding: 0;
    margin: 0;
}

#courses {
    display: flex;
    justify-content: center;
    padding: 30px 20px 0px 20px;
}

.course {
    text-align: left;
    padding: 10px;
    max-width: 300px;
}

.course-img {
    max-width: 100%;
    border-radius: 10px;
}

.course-info p, .course h4, .step-words h3,
.step-words p {
    margin: 5px;
}

.course-authors {
    font-size: 14px;
    color: #6A6F73
}

.course-rating-label {
    color: #A36200
}

#newsletter {
    padding: 20px;;
    text-align: center;
    height: 125px;
}

#newsletter-form {
    display: flex;
    justify-content: center;
}

#newsletter-email {
    font-size: 18px;
    padding: 1px 15px;
    border-radius: 10px;
    border: 1px solid #A3A3A3;
    width: 500px;
    height: 45px;
}

#newsletter-btn {
    padding: 10px 50px;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #8C8C8C;
    color: white;
}

#newsletter-btn:hover {
    cursor: pointer;
}