@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

body {
    font-family: "Archivo";
    margin: 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-menu {
    display: inline-block;
}

#left-side {
    flex-grow: 1;
    white-space: nowrap;
    width: 50%;
}

#left {
    display: flex;
    flex-wrap: wrap;
}

#left li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#left li a {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#center {
    position: relative;
    flex-shrink: 0;
}

#right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    white-space: nowrap;
}

#right a {
    padding: 20px 40px;
}

#background-img {
    height: 400px;
    max-height: 400px;
    background-image: url('assets/background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background-img h1, #background-img2 h1 {
    color: white;
}

#background-img2 {
    height: 200px;
    max-height: 400px;
    background-image: url('assets/background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#step-container {
    text-align: center;
    background-color: white;
    padding: 20px;
}

#steps {
    padding: 25px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 30%;
}

.step-logo {
    width: 60px;
    height: 60px;
}

.step-words {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

#courses-container {
    text-align: center;
    padding: 30px;
    background-color: #A3A3A3;
    overflow-x: hidden;
}

#courses-container h2 {
    padding: 0;
    margin: 0;
}

#courses {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.course {
    text-align: left;
    padding: 10px;
    flex-basis: 25%;
    
}

.course-img {
    max-width: 100%;
    border-radius: 10px;
}

.course-info p, .course-title, .step-words h3,
.step-words p {
    margin: 5px;
}

.course-authors {
    font-size: 14px;
    color: #6A6F73
}

.course-title {
    white-space: normal
}

.course-rating-label {
    color: #A36200
}

#newsletter {
    padding: 20px;;
    text-align: center;
    height: 125px;
}

#newsletter-form {
    display: flex;
    justify-content: center;
}

#newsletter-email {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #A3A3A3;
    flex-basis: 50%;
}

#newsletter-btn {
    padding: 10px 50px;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #8C8C8C;
    color: white;
    flex-basis: 30%;
}

#newsletter-btn:hover {
    cursor: pointer;
}

#hamburger {
    display: none;
}

#hamburger:hover {
    cursor: pointer;
}

/* width */
#courses::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: var(--shadow-medium);
    transition: all 0.45s ease-in-out;
    display: none;
}

.menu.is-active {
    top: 0;
    left: 0;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 2rem 1.25rem;
    list-style-type: none;
    padding-left: 20px;
}

.menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-black);
    transition: all 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.overlay.is-active {
    display: none;
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 1024px) {

    .overlay.is-active {
        display: block;
    }

    .menu {
        display: block;
    }

    #courses-container {
        padding: 30px 15px;
    }

    #newsletter-form {
        flex-direction: column;
    }

    #newsletter-email {
        margin-bottom: 10px;
    }

    #main-menu {
        display: none;
    }

    #hamburger {
        display: block;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        white-space: nowrap;
        padding: 20px 40px;
    }

    #steps {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .step {
        padding: 20px 0px
    }

    .step-words {
        padding: 0 20px;
    }
}