@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

body {
    font-family: "Archivo";
    margin: 0;
    padding: 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

#main-menu {
    display: inline-block;
}

#left-side {
    flex-grow: 1;
    white-space: nowrap;
    width: 50%;
}

#left {
    display: flex;
    flex-wrap: wrap;
}

#left li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#left li a {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#center {
    position: relative;
    flex-shrink: 0;
}

#right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    white-space: nowrap;
}

#right a {
    padding: 20px 40px;
}

#background-img {
    height: 400px;
    max-height: 400px;
    background-image: url('assets/background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#background-img h1, #background-img2 h1 {
    color: white;
}

#background-img2 {
    height: 200px;
    max-height: 400px;
    background-image: url('assets/background.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#step-container {
    text-align: center;
    background-color: white;
    padding: 20px;
}

#steps {
    padding: 25px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 30%;
}

.step-logo {
    width: 60px;
    height: 60px;
}

.step-words {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

#courses-container {
    text-align: center;
    padding: 30px;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    overflow-x: hidden;
}

#courses-container h2 {
    padding: 0;
    margin: 0;
}

.courses {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.course {
    text-align: left;
    padding: 10px;
    min-width: 250px;
    height: auto;
}

.course-img {
    max-width: 100%;
    border-radius: 10px;
}

.course-info p, .course-title, .step-words h3,
.step-words p {
    margin: 5px;
}

.course-authors {
    font-size: 14px;
    color: #6A6F73
}

.course-title {
    white-space: normal
}

.course {
    cursor: pointer;
}

#course-title {
    margin: 0px
}

.course-rating-label {
    color: #A36200
}

.course-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#newsletter {
    padding: 20px;;
    text-align: center
}

#newsletter-form {
    display: grid;
    width: 80%;
    margin: auto;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: row;
    max-width: 500px;
}

#newsletter-email {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #A3A3A3;
}

#newsletter-btn:hover {
    cursor: pointer;
}

#hamburger {
    display: none;
}

#hamburger:hover {
    cursor: pointer;
}

/* width */
.courses::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: var(--shadow-medium);
    transition: all 0.45s ease-in-out;
    display: none;
}

.menu.is-active {
    top: 0;
    left: 0;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 2rem 1.25rem;
    list-style-type: none;
    padding-left: 20px;
}

.menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-black);
    transition: all 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.overlay.is-active {
    display: none;
    opacity: 1;
    visibility: visible;
}

#courses-display {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.course:nth-of-type(1) {
    padding-left: 0px;
}

#faq-container {
    padding: 50px;
}

#faq-container h2 {
    text-align: center;
}

#questions {
    margin-top: 50px;
}

#underlined {
    text-decoration: underline;
}

#questions-unanswered {
    text-align: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Archivo";
    font-weight: bold;
    font-size: 20px;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#course-item {
    padding: 30px;
    display: flex;
    gap: 30px;
}

#course-left {
    flex: 1
}

#course-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#course-feedback {
    background-color: darkgray;
    padding: 15px;
    text-align: center;
}

#course-review {
    font-style: italic;
}

#course-feedback h2 {
    margin-top: 5px;
    margin-bottom: 10px
}

#course-review h5, #course-review p {
    margin: 5px;
}

#buy-btn-mobile {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-top: 2px solid #000;
    background: #fff;
    padding: 15px;
}

#buy-btn-mobile #buy-btn {
    width: 100%;
}

#profile-container {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

#signup {
    border-radius: 10px;
    border: 2px solid black;
    height: 400px;
    width: 400px;
}

#buttons {
    margin-right: 20px;
}

#register-btn {
    font-family: "Archivo";
    border: 2px solid #34495e;
    background: #fff;
    color: #000;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

#register-btn:hover {
    background:rgba(212, 212, 212, 0.6)
}

#login-btn {
    font-family: "Archivo";
    border: 2px solid #34495e;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

#login-btn:hover, #newsletter-btn:hover, #buy-btn:hover {
    background: #23313f
}

#newsletter-btn {
    font-family: "Archivo";
    border: 2px solid #34495e;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

#menu #buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 280px;
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
}

.newsletter-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.newsletter-form-text {
    font-family: "Archivo";
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 2px solid black;
    background: #fff;
    padding: 20px;
    outline: none;
    font-size: 16px;
    color: #000;
    transition: 0.5s;
}

.stars {
    width: 20px;
}

@media only screen and (max-width: 1024px) {

    #course-item {
        flex-direction: column;
    }

    #right #buttons {
        display: none;
    }

    .overlay.is-active {
        display: block;
    }

    .menu {
        display: block;
    }

    #buy-btn-mobile {
        display: flex;
        justify-content: center;
    }

    #course-right #buy-btn {
        display: none;
    }

    #courses-container, #courses-display {
        padding: 30px 15px;
    }

    #courses-display {
        gap: 10px;
    }

    #newsletter {
        margin-bottom: 10px;
    }

    #newsletter-form {
        grid-template-columns: 1fr;
    }

    #newsletter-btn { 
        width: 100%;
    }

    #main-menu {
        display: none;
    }

    #hamburger {
        display: block;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        white-space: nowrap;
        padding: 20px 40px;
    }

    #steps {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .step {
        padding: 20px 0px
    }

    .step-words {
        padding: 0 20px;
    }
}